.header_container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;

}
.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark{
    background-color: #2d3941 !important;
    color: whitesmoke !important;
}
